html{
     background:pink;
	 font-family : verdana, cursive , sans-serif;
     font: Tahoma;
	 margin:0;
	 padding:0;
	 border:0;
	 vertical-align:baseline
	 
}
h1 {
     
     text-align: center;
  
	 
}
#personal {
 text-align: right;
  
}

#point  { 
	  list-style-type : none;
      margin:0;
      padding:0;
	  overflow:hidden;
	  background-color : purple;
	color : white;
	  height: 95px;

	

}
#po { 
 
 text-align: center;
	 margin-left:auto;
	    margin-right:auto;

}

#po a{
 color:white;
 font-size:30pt;

 
}
#about h2 {

   text-align: center;
   
   }
 div
 
 {
   text-align: center;
   
 }  


#imagelink { 
           margin-left:auto;
	    margin-right:auto;
	    display: block;
	    width: 300px; 
	height: 400px;
}
#imagelink2
{ 
           margin-left:auto;
	    margin-right:auto;
	    display: block;
	
}

#videolink
{   margin-left:auto;
	    margin-right:auto;
    width: 728px; 
	height: 409px;
	
}
#story 
{
 text-align: center;
}
#Characters
{
 text-align: center;
}
#about ul { 
      text-align:center;
	
      
	

 }
